form(action="/save", method="POST", onsubmit="return validate()").link-form
  fieldset
    input(type="text", name="url", placeholder="Enter URL to archive")
  button(type="submit").material-icons.icon-button save

block append scripts
  script(type="text/javascript").
    const validate = () => {
      const regex = /https?:\/\/boards.(4chan|4channel).org\/\w+\/thread\/\d+#?p?\d+/;
      const input = document.querySelector('input[name="url"]');
      input.classList.remove('invalid', 'valid');
      const value = input.value;
      const validated = regex.test(value);
      input.classList.add(validated ? 'valid' : 'invalid');

      if(!validated){
        event.preventDefault();
      }
      return validated;
    }