block styles
  link(rel="stylesheet", href="/styles/styles.css")
  link(rel="stylesheet", href="/styles/archivist.css")
  link(rel="stylesheet", href="/vendor/highlight/styles/dark.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")