extends _layout
include ./components/thread

block append styles
  link(rel="stylesheet", href="/styles/thread.css")

  if page.features.includes('code')
    link(rel="stylesheet", href="/vendor/highlight/styles/dracula.css")

block append content
  +thread(thread)

block append scripts
  script(src="/scripts/thread.js", type="text/javascript")
  script(src="/scripts/popover.js", type="text/javascript")

  if page.features.includes('code')
    script(src="/vendor/highlight/highlight.pack.js", type="text/javascript")
    script(type="text/javascript").
      document.querySelectorAll('.prettyprint').forEach(block => hljs.highlightBlock(block));