:root {
  --color-black-1: #333;
  --color-black-2: #222;
  --box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.1);
  --color-white-1: #fff;
  --color-white-2: #d3d3d3;
  --color-green: #10c15c;
  --color-red: #ed1c24;
  --color-blue: #39a0ed;
  --color-success: var(--color-green);
  --color-error: var(--color-red);
  --color-info: var(--color-blue);
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-size: 16px;
  --font-size-md: 0.825rem;
  --font-size-sm: 0.75rem;
  --font-size-xs: 0.6rem;
  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 1rem;
  --border-radius: 8px;
  --background-color: var(--color-black-1);
  --surface-color: var(--color-black-2);
  --text-color: var(--color-white-1);
}

html,
body {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1rem;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
}

*:focus,
*:active {
  outline: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

image {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--surface-color);
}

::-webkit-scrollbar-thumb:hover {
  /* ? */
}

.rounded {
  border-radius: var(--border-radius);
}

.max-w-full {
  max-width: 100%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.mx-sm {
  margin-left: var(--spacing-sm);
  margin-right: var(--spacing-sm);
}

.mx-md {
  margin-left: var(--spacing-md);
  margin-right: var(--spacing-md);
}

.mx-lg {
  margin-left: var(--spacing-lg);
  margin-right: var(--spacing-lg);
}

.my-sm {
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

.my-md {
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.my-lg {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
}

.m-sm {
  margin: var(--spacing-sm);
}

.m-md {
  margin: var(--spacing-md);
}

.m-lg {
  margin: var(--spacing-lg);
}

.p-sm {
  padding: var(--spacing-sm);
}

.p-md {
  padding: var(--spacing-md);
}

.p-lg {
  padding: var(--spacing-lg);
}

.px-sm {
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.px-md {
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}

.px-lg {
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
}

.py-sm {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}

.py-md {
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
}

.py-lg {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 100%;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.font-md {
  line-height: var(--font-size-md);
  font-size: var(--font-size-md);
}

.font-sm {
  line-height: var(--font-size-sm);
  font-size: var(--font-size-sm);
}

.font-xs {
  line-height: var(--font-size-xs);
  font-size: var(--font-size-xs);
}

.font-bold {
  font-weight: bold;
}

.text-red {
  color: var(--color-red);
}

.text-blue {
  color: var(--color-blue);
}

.text-green {
  color: var(--color-green);
}

.bg-surface {
  background-color: var(--surface-color);
}
