.threads .thread {
  text-align: center;
  width: 180px;
  height: 320px;
  max-height: 320px;
}

.thread .thread-content {
  flex: 1;
  overflow: hidden;
  max-width: 100%;
}

.thread .thread-content:hover {
  overflow: auto;
}

.thread .thread-meta {
  padding-top: 0.25rem;
}

.thread .thread-meta > * {
  text-align: center;
  flex: 1;
}

.boards .board + .board {
  margin-left: 0.25rem;
}
