input[type='text'] {
  width: 100%;
  color: white;
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 30px;
  padding: 0 1rem;
  border-radius: 1rem;
  background: #222;
}

input[type='text'].invalid {
  border: 1px solid #ed1c24;
}

input[type='text'].valid {
  border: 1px solid #10c15c;
}

button.icon-button {
  cursor: pointer;
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #333;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0.5rem;
  box-shadow: 0 2px 12px 4px rgba(0, 0, 0, 0.2);
}

.header>a {
  color: inherit;
}

.header>*+* {
  margin-left: 0.5rem;
}

.link-form {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.link-form fieldset {
  flex: 1;
  max-width: 500px;
}