.post {
  margin-bottom: var(--spacing-md);
  border-width: var(--border-width);
  border-color: transparent;
  border-style: var(--border-style);
}

.post-meta>*:not(:last-child) {
  margin-right: var(--spacing-md);
}

.post-meta .post-time,
.thread-meta {
  color: var(--post-meta-color);
}

.thread-tools>*+*,
.thread-meta>*+*,
.thread-links>*+* {
  margin-left: var(--spacing-md);
}

.thread-links a {
  text-transform: uppercase;
}

.thread-tools {
  background: var(--surface-color);
  position: sticky;
  bottom: 0;
}

.post-meta .post-id {
  padding: 2px 8px;
  border-radius: 10px;
}

.post .post-attachment {
  cursor: pointer;
  margin-right: var(--spacing-md);
}

.post .post-content {
  padding-top: var(--spacing-md);
}

.post:target {
  border-color: var(--post-active-border-color);
}

.post-content .post-comment {
  flex: 1;
}

.post-content .quote {
  color: var(--post-quote-color);
}

.post-content .quotelink,
.post-replies {
  font-family: monospace;
  color: var(--post-reply-color);
}

.post-replies {
  border-top: 1px var(--border-style) var(--background-color);
  margin-top: var(--spacing-md);
  padding-top: var(--spacing-md);
}

.post-replies:empty {
  display: none;
}

.post-replies .reply-link {
  margin-right: var(--spacing-md);
  margin-bottom: var(--spacing-sm);
}

.popover {
  border: var(--border-width) var(--border-style) var(--border-color);
  max-width: 100%;
  box-shadow: var(--box-shadow);
}

figure {
  font-size: 0.35rem;
}