.post {
  margin-bottom: var(--spacing-md);
  border-width: 2px;
  border-color: transparent;
  border-style: solid;
}

.post-meta > *:not(:last-child) {
  margin-right: var(--spacing-md);
}

.post-meta .post-time,
.thread-meta {
  color: var(--color-white-2);
}

.post-meta .post-id {
  padding: 2px 8px;
  border-radius: 10px;
}

.post .post-attachment {
  cursor: pointer;
  margin-right: var(--spacing-md);
}

.post .post-content {
  padding-top: var(--spacing-md);
}

.post:target {
  border-color: var(--color-green);
}

.post-content .quote {
  color: var(--color-green);
}

.post-content .quotelink,
.post-replies {
  color: var(--color-blue);
}

.post-replies {
  border-top: 1px solid var(--color-black-1);
  margin-top: var(--spacing-md);
  padding-top: var(--spacing-md);
}

.post-replies:empty {
  display: none;
}

.post-replies .reply-link {
  margin-right: var(--spacing-md);
}

.popover {
  border: 1px solid var(--color-white-2);
  max-width: 100%;
  box-shadow: var(--box-shadow);
}
