mixin icon-google(width=30, height=30)
  svg(xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google" width=width height=height viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round")
    path(stroke="none" d="M0 0h24v24H0z")
    path(d="M17.788 5.108A9 9 0 1021 12h-8")
